footer.footer
  .footer-main.fields
    ul.footer-nav-left.footer-col
      li
        a(href="#").link-hover
          span Головна
      li
        a(href="#").link-hover
          span Обрати квартиру
      li
        a(href="#").link-hover
          span Про проект
      li
        a(href="#").link-hover
          span Характеристики
      li
        a(href="#").link-hover
          span Інфраструктура
      li
        a(href="#").link-hover
          span Умови оплати
    ul.footer-nav-right.footer-col
      li
        a(href="#").link-hover
          span Хід будівництва
      li
        a(href="#").link-hover
          span Веб-камера
      li
        a(href="#").link-hover
          span Документи
      li
        a(href="#").link-hover
          span Забудовник
      li
        a(href="#").link-hover
          span Новини
      li
        a(href="#").link-hover
          span Контакти
    ul.footer-nav-info.footer-col
      li
        a(href="#").link-hover
          span Хід будівництва
      li
        a(href="#").link-hover
          span Croatia, AVTO ARAZI STR. #42
      li
          span Пн-Сб:	с 09:00 до 18:00
          span Вс:  выходной
      li
        a(href="tel:+995322552277").link-hover
          span (+995) 32 255 22 77
      li
        a(href="mailto:sales@mediana.com").link-hover
          span SALES@mediana.com
      li
        a(href="#").link-hover
          span instagram

    .btnUp
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 19.4854V2.51479M10 2.51479L1.51472 11.0001M10 2.51479L18.4853 11.0001" stroke-width="2.5"/>
      </svg>
  .footer-bottom
    img(src="./assets/images/footer/logo.svg").footer-bg
    .footer-bottom-wrapper.fields
      .dark-text-20 © 2022 Mediana. Усі права захищено
      a(href="#").smarto
        img(src="./assets/images/smarto-logo.svg")
